body {

    background-color: hsl(189, 65%, 80%);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: hsl(192, 82%, 13%);
    text-align: center;
}